# tasks file for collectd-plugin-haproxy
---
- name: install dependencies
  apt:
    name: "{{ collectd_plugin_haproxy_dependencies }}"
    state: "{{ apt_install_state | default('latest') }}"
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"
  tags:
    - configuration
    - collectd-plugin-haproxy
    - collectd-plugin-haproxy-install
    - collectd-plugin-haproxy-install-dependencies

- name: create (checkout) directory
  file:
    path: "{{ collectd_plugin_haproxy_checkout_path }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  tags:
    - configuration
    - collectd-plugin-haproxy
    - collectd-plugin-haproxy-checkout
    - collectd-plugin-haproxy-checkout-directory

- name: checkout repository
  git:
    repo: "{{ collectd_plugin_haproxy_checkout_url }}"
    dest: "{{ collectd_plugin_haproxy_checkout_path }}"
    version: "{{ collectd_plugin_haproxy_version }}"
    force: true
  notify: restart collectd
  tags:
    - configuration
    - collectd-plugin-haproxy
    - collectd-plugin-haproxy-checkout
    - collectd-plugin-haproxy-checkout-repository

- name: stat directories
  stat:
    path: "{{ item }}/"
  register: _stat_directories
  with_items:
    - "{{ collectd_plugin_haproxy_configuration_file | dirname }}"
    - "{{ collectd_plugin_haproxy_install_path }}"
  tags:
    - configuration
    - collectd-plugin-haproxy
    - collectd-plugin-haproxy-configure-directories
    - collectd-plugin-haproxy-configure-directories-stat

- name: create directories
  file:
    path: "{{ item.item }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  with_items: "{{ _stat_directories.results }}"
  when: not item.stat.exists
  tags:
    - configuration
    - collectd-plugin-haproxy
    - collectd-plugin-haproxy-configure-directories
    - collectd-plugin-haproxy-configure-directories-create

- name: configure plugin
  template:
    src: "{{ collectd_plugin_haproxy_configuration_file.lstrip('/') }}.j2"
    dest: "{{ collectd_plugin_haproxy_configuration_file }}"
    owner: root
    group: root
    mode: 0644
  notify: restart collectd
  tags:
    - configuration
    - collectd-plugin-haproxy
    - collectd-plugin-haproxy-plugin
    - collectd-plugin-haproxy-plugin-configure

- name: enable plugin
  file:
    src: "{{ collectd_plugin_haproxy_checkout_path }}/haproxy.py"
    dest: "{{ collectd_plugin_haproxy_install_path }}/haproxy.py"
    state: link
    force: true
  tags:
    - configuration
    - collectd-plugin-haproxy
    - collectd-plugin-haproxy-plugin
    - collectd-plugin-haproxy-plugin-enable
