# {{ ansible_managed }}

<LoadPlugin python>
  Globals true
</LoadPlugin>

<Plugin python>
  ModulePath "{{ collectd_plugin_haproxy_install_path }}"
  Import haproxy

  <Module haproxy>
    Socket "{{ collectd_plugin_haproxy_socket }}"
{% for monitor in collectd_plugin_haproxy_proxy_monitors | default([]) %}
    ProxyMonitor "{{ monitor }}"
{% endfor %}
  </Module>
</Plugin>
